.post-text {
  text-align: center;
  color: var(--gray-color);
  text-decoration: underline;
  text-decoration-color: var(--blue-color);
  text-underline-offset: 15px;
  padding-bottom: 5px;
}

#button-like {
  margin-right: 15px;
}

#button-comment {
  margin-right: 15px;
}

.userInfo {
  margin-left: 10px;
}

.comment {
  padding-top: 3px;
  padding-bottom: 3px;
}

.form-control {
  margin-top: 5px;
  margin-bottom: 15px;
}

.upload-button {
  margin-left: 10px;
}
