.footer {
  background-color: var(--gray-color);
  color: white;
  text-align: center;
  padding: 10px 0;
}

.footer-links a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}
